@charset "UTF-8";

body {
  width: 95vw;
  height: 95vh;
  background-image: url('img/bg.jpg');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: #efefef;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  margin-right: 35px;
}

#info-container {
  border: 2px solid #333;
  margin-right: 20px;
  background-color: lightgreen;
  color: #333;
  padding: 20px;
  line-height: 2rem;
  width: 70px;
}

#score {
  margin-top: 7px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#scores {
  margin-top: 10px;
  border-top: 1px solid #33333369;
}

#sound {
  margin-top: 10px;
  border-top: 1px solid #33333369;
}

#sound > button {
  margin-top: 10px;
}

#first {
  margin-top: 10px;
}

.order {
  margin-top: 7px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#stage {
  border: 2px solid #333;
}

.order > img,
#sound > button > img {
  width: 30px;
}

button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  background-color: #918e8e;
}