@charset "UTF-8";

body {
  width: 95vw;
  height: 95vh;
  background-color: rgb(178, 190, 255);
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
}

#stage {
  border: 2px solid black;
}