@charset "UTF-8";

:root {
  /* #efefef é mais suave que branco absoluto: #fff */
  --default-bg-color: #efefef;
  /* #333 é mais suave que preto absoluto: #000 */
  --default-font-color: #333;
  --hover-bg-color: #918e8e;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: var(--default-bg-color);
  display: flex;
  flex-direction: column;
  /* Centralização horizontal */
  justify-content: center;
  /* Centralização vertical */
  align-items: center;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px auto;
}

/* Para "status-container" e "stage-container" ficarem lado a lado */
#container {
  display: flex;
}

#status-container {
  background-color: var(--default-font-color);
  font-weight: bold;
  padding: 20px 10px;
  margin-right: 7px;
  line-height: 2rem;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#score-container > i {
  color: rgb(211, 6, 6);
}

#score-container,
#high-scores-container {
  margin-bottom: 80px;
}

#first-place-container > i {
  color: #CD7F32;
}

#second-place-container > i {
  color: #C0C0C0;
}

#third-place-container > i {
  color: #DB9370;
}

#score-container,
.high-score {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 30px de tamanho de fonte para todos os ícones do Bootstrap Icons */
.bi {
  font-size: 30px;
}

#toggle-mute-sound {
  /* Deve ser um quadrado, para que seja aplicado o formato de círculo */
  width: 44px;
  height: 44px;
  /* Sem borda */
  border: none;
  /* Formato de círculo*/
  border-radius: 50%;
  /* Cor de fundo igual o do elemento pai / sem cor de fundo */
  background-color: transparent;
}

#toggle-mute-sound:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}

#sound-icon {
  color: cyan;
}

#stage,
#status-container {
  border-radius: 20px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, .63);
}

#title {
  animation-name: 'title';
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
}

@keyframes title {
  0%   { color:black; }
  2%   { color:beige; }
  6%   { color:cadetblue; }
  8%   { color:darkgrey; }
  10%  { color:firebrick; }
  12%  { color:hotpink; }
  14%  { color:gold; }
  16%  { color:indigo; }
  18%  { color:khaki; }
  20%  { color:lightpink; }
  25%  { color:magenta; }
  30%  { color:lawngreen; }
  35%  { color:orangered; }
  40%  { color:palegreen; }
  45%  { color:red; }
  50%  { color:sienna; }
  60%  { color:teal; }
  65%  { color:violet; }
  70%  { color:lime; }
  80%  { color:yellowgreen; }
  81%  { color:maroon; }
  85%  { color:mediumslateblue; }
  90%  { color:palegreen; }
  91%  { color:powderblue; }
  99%  { color:rosybrown; }
  100% { color:cyan; }
}