@charset "UTF-8";

:root {
  /* #efefef é mais suave que branco absoluto: #fff */
  --default-bg-color: #efefef;
  /* #333 é mais suave que preto absoluto: #000 */
  --default-font-color: #333;
  --hover-bg-color: #918e8e;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: var(--default-bg-color);
  display: flex;
  flex-direction: column;
  /* Centralização horizontal */
  justify-content: center;
  /* Centralização vertical */
  align-items: center;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px auto;
}

/* Para "status-container" e "stage-container" ficarem lado a lado */
#container {
  display: flex;
}

#status-container {
  background-color: lightgreen;
  color: var(--default-font-color);
  padding: 20px 10px;
  margin-right: 7px;
  line-height: 2rem;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#score-container,
#high-scores-container {
  margin-bottom: 80px;
}

#score-container,
.high-score {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 30px de tamanho de fonte para todos os ícones do Bootstrap Icons */
.bi {
  font-size: 30px;
  color: rgb(1, 66, 1);
}

button {
  /* Deve ser um quadrado, para que seja aplicado o formato de círculo */
  width: 44px;
  height: 44px;
  /* Sem borda */
  border: none;
  /* Formato de círculo*/
  border-radius: 50%;
  /* Cor de fundo igual o do elemento pai / sem cor de fundo */
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}

#stage,
#status-container {
  border-radius: 20px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, .63);
}