@charset "UTF-8";

:root {
  --soft-white: #f5f5f5;
  --soft-black: #333;
  --hover-bg-color: #918e8e;
  --gold-color: #Cd7f32;
  --silver-color: #c0c0c0;
  --bronze-color: #db9370;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: var(--soft-white);
  display: flex;
  flex-direction: column;
  /* Centralização horizontal */
  justify-content: center;
  /* Centralização vertical */
  align-items: center;
}

#snake-game__title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px auto;
}

/* Para "status-container" e "stage-container" ficarem lado a lado */
#snake-game {
  display: flex;
}

#snake-game__status-container {
  background-color: var(--soft-black);
  font-weight: bold;
  padding: 20px 10px;
  margin-right: 7px;
  line-height: 2rem;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#snake-game__score-container > i {
  color: rgb(211, 6, 6);
}

#snake-game__score-container,
#snake-game__high-scores-container {
  margin-bottom: 80px;
}

#snake-game__first-place-container > i {
  color: var(--gold-color);
}

#snake-game__second-place-container > i {
  color: var(--silver-color);
}

#snake-game__third-place-container > i {
  color: var(--bronze-color);
}

#snake-game__score-container,
.snake-game__high-score {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 30px de tamanho de fonte para todos os ícones do Bootstrap Icons */
.bi {
  font-size: 30px;
}

#snake-game__toggle-mute-sound {
  /* Deve ser um quadrado, para que seja aplicado o formato de círculo */
  width: 44px;
  height: 44px;
  /* Sem borda */
  border: none;
  /* Formato de círculo*/
  border-radius: 50%;
  /* Cor de fundo igual o do elemento pai / sem cor de fundo */
  background-color: transparent;
}

#snake-game__toggle-mute-sound:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}

#snake-game__sound-icon {
  color: cyan;
}

#snake-game__stage,
#snake-game__status-container {
  border-radius: 20px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, .63);
}

#snake-game__title {
  animation-name: rgb;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
}

@keyframes rgb {
  0%   { color:red; }
  10%  { color:green; }
  20%  { color:blue; }
  30%   { color:red; }
  40%  { color:green; }
  50%  { color:blue; }
  60%   { color:red; }
  70%  { color:green; }
  80%  { color:blue; }
  90%   { color:red; }
  100%  { color:green; }
}